*{
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8bfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.quote-block {
  background-color: azure;
  border: 2px solid azure;
  border-radius: 10px;
  width: 50%;
  padding: 1.25em;
}

@media only screen and (max-width: 1080px) {
  .quote-block {
    width: 90%;
  }
}

.author {
  padding: 15px 15px 0 0;
  text-align: right;
  font-size: large;
  font-weight: 500;
}

button {
  padding: 0.2em 0.7em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
  border: 2px solid #dba0fd;
  border-radius: 5px;
  background-color: #e8bfff;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer {
  font-size: large;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: black;
}